*{
    font-family: "Anja Meiners", "Punchcut", sans-serif;
}
html{
    background-image: url("../images/bats.gif");
}
body{
    font-size: 100%;
    max-width: 960px;
    margin: auto;

    background-color: white;

    border-style: solid;
    border-color: black;
    border-width: 5px;

    box-shadow: 5px 5px 5px black;

    margin-bottom: 1em;


}
h1{
    margin-top: 0;
    font-size: 2.5em;
}
h2{
    font-size: 2em;
}
div h1::first-letter{
    font-size:1.5em;
}

div{
    margin-top: 1em;
    margin-left: 11em;
}

header{
    text-indent: 1em;

    background-color: orange;
    background: linear-gradient(45deg, white, orange, black);
    padding: 1em;
}
header img{
    float: left;
    width: 10%;
    max-width: 85px;
    min-width: 40px;
}
header h1{
    margin-top: .1em;
    margin-bottom: 0;
}
header h2{
    margin-top: .1em;
}
footer{
    font-size: .75em;
    text-align: center;
    border-top-style: solid;
    border-color: black;

    background-color: orange;
    background: linear-gradient(45deg, black, orange, white);

    padding: 1em;
    clear: left;
}
a{
    color: orange;
}
article ui, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
article{
    clear: left;
    float: left;
    width: 19%;
    position: relative;
    left: -1.75em;
}

article a{
    color: orange;
}
article li a{
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold;
    line-height: 2em;
    background-color: orange;
    border-color: black;
    border-style: solid;
    border-width: .2em;
    margin: .2em;
    padding: .2em 0 .2em .2em;
    min-width: 50px;
    
}
article li a:hover{
    color:black;
}
nav{
    width: 100%;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black; 
}
nav ul, li{
    margin: 0em;
    padding: 0;
    list-style: none;
}
nav li{
    width: 20%;
}
nav li a{
    display: block;
    color: white;
    background-color: black;
    display: block;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
}
nav li a:hover{
    background-color: gray;
}
#menu{
    display:none;
}
.current{
    color: orange;
}
nav{
    float: none;
}
nav li{
    float: left;
}
#catPic{
    width: 25%;
    max-width: 154px;
}
#smallScreen{
    display: none;
}


@media screen and (max-width: 800px){
    *{
        font-size: 90%;
    }
    html{
        background-image: none;
    }
    body{
        box-shadow: none;
    }
}

@media screen and (max-width: 767px){
    #bigScreen{
        display: none;
    }
    div{
       margin-left: 1em; 
    }
    #smallScreen{
        display: block;
        margin: auto;
        float: none;
    }
    #menu{
        float: right;
        display: inline-block;
        width: 10%;
    }
    nav li{
        display:none;
    }
    .hamburger{
        position: relative;
        color: white;
        background-color: black;
    }
    .hamburger #menu{
        float: right;
        width: 100%;
    }
    .hamburger li{
        float: none;
        display: inline;
        background-color: black;
        color: white;
        width: 20%;
    }
    .hamburger li a{
        width: 20%;
        display: block;
        text-align: left;
        background-color: black;
    }
    .hamburger ul{
        background-color: black;
    }
}
@media screen and (max-width: 479px){
    h1{
        font-size: 50%;
    }
    h2{
        font-size: 50%;
    }
}